$primaryColor: white;
$backgroundColor: red;
$ourBrandColor: rgb(221, 220, 220);
$boxShadowAndColor: inset 0 0 0, 0 0 1em rgb(190, 189, 189);
$buttonBackground: black;
$textColor: rgb(129, 126, 126);
$hoverColor: rgb(238, 237, 237);
$buttonHoverColor: rgb(119, 10, 10);
$redHoverColor:  rgb(206, 10, 10);
