@use '_colors.scss' as *;


@media (max-width:1090px) {
main {

    .comments {

        background-color: $primaryColor;

        h2 {
            margin-top: 0;
            padding-top: 5rem;
            padding-bottom: 3rem;
            text-align: center;
            font-size: 2rem;
        }

        .comments__clientBox {
            background-color: $backgroundColor;
            padding-top: 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 30em;


            ul {
                display: flex;
                list-style-type: disc;
                flex-direction: row;
                justify-content: space-around;
                font-size: 3em;
                margin-top: 0.5em;
                margin-left: 1em;
                line-height: 0.5em;
                padding-bottom: 1em;

            }

            li::marker {
                height: 0.5em;
                width: 0.5em;
                font-size: 2em;
                margin-right: 0;

            }

            li {
                width: 0.5px;
                height: 0.5px;
            }

            .comments__clientBox__ourClients {
                height: 93%;
                width: 93%;
                background-color: $primaryColor;
                align-self: center;

                .comments__clientBox__ourClients__quote {
                    display: none;
                }

                h3, h4, p {
                    text-align: center;
                }

                h3 {
                    font-size: 1rem;
                    margin-bottom: 0;
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                    color: orange;
                }

                p{
                    color: $textColor;
                    text-align: right;
                    padding-right: 5px;
                    font-size: 17px;
                    line-height: 1.5;

                }


            }
        }


    }
}
}

@media  (min-width:1090px) and (max-width:2340px) {
    main {

        .comments {

            background-color: $primaryColor;

            h2 {
                margin-top: 0;
                padding-top: 5rem;
                padding-bottom: 3rem;
                text-align: center;
                font-size: 2rem;
            }

            .comments__clientBox {
                background-color: $backgroundColor;
                padding-top: 3rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 30em;


                ul {
                    display: flex;
                    list-style-type: disc;
                    flex-direction: row;
                    justify-content: space-around;
                    font-size: 3em;
                    margin-top: 0.5em;
                    margin-left: 1em;
                    line-height: 0.5em;
                    padding-bottom: 1em;

                }

                li::marker {
                    height: 0.5em;
                    width: 0.5em;
                    font-size: 2em;
                    margin-right: 0;

                }

                li {
                    width: 0.5px;
                    height: 0.5px;
                }

                .comments__clientBox__ourClients {
                    height: 93%;
                    width: 93%;
                    background-color: $primaryColor;
                    align-self: center;

                    .comments__clientBox__ourClients__quote {
                        display: block;
                        padding-top: 1em;
                        margin-left: auto;
                        margin-right: auto;

                    }

                    h3, h4, p {
                        text-align: center;
                    }

                    h3 {
                        font-size: 1rem;
                        margin-bottom: 0;
                    }

                    h4 {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-size: 2.5rem;
                        color: orange;
                    }

                    p{
                        color: $textColor;
                        text-align: right;
                        padding-right: 5px;
                        font-size: 17px;
                        line-height: 1.5;

                    }


                }
            }


        }
    }

}
