@use '_hamburger.scss' as *;
@use '_colors.scss' as *;

@media (max-width:1200px) {
.container {
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .navList {
        width: 18rem;
        align-self:center;

    .navList__list {
        display: none;

        li {
            border-bottom: 1px solid $textColor;
            text-align: left;
            margin-left: 0;
            padding-bottom: 5px;
        }

        li:hover {
            background-color: $hoverColor;
        }

        a {
            text-decoration: none;
            color: $textColor;
            text-align: left;
            margin-left: 0;
            padding-left: 0;
            font-size: 1.3em;
        }

        a:visited {
            color: $textColor;
        }

    }
    .navList__list--active {
        z-index: 2;
        position: absolute;
        width: 17.9em;
        height: 10rem;
        padding-top: 0px;
        padding-left: 2px;
        margin-top: 0px;
        display: block;
        background-color: white ;
        list-style: none;
    }
    }
}
}

@media  (min-width:1200px) and (max-width:2340px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-image: url('../images/hea.png');
        background-position: 94em;
        height: 5em;
        padding: 0;
        margin: 0;

        .containerLogo {

            .containerLogo__pomatoLogo {

                padding-left: 1em;
                height: 2.5em;
            }
        }

        .navList {
            background-color: transparent;
            width: 100%;
            align-self:center;

        .navList__list {
            display: inline-flex;
            list-style: none;
            justify-content: space-between;

            li {
                background-color: transparent;
                padding-bottom: 5px;
                padding-left: 2.5em;
            }

            li:hover {

                background-color: transparent;

            }

            a {
                background-color: transparent;
                text-decoration: none;
                color: $primaryColor;
                text-align: left;
                margin-left: 0;
                padding-left: 0;
                font-size: 1.3em;
            }

            a:visited {
                color: $primaryColor;
                background-color: transparent;
            }

        }



        }

    }


}